@import "src/styles/scaffold";

.fs-facets {
  // --------------------------------------------------------
  // Design Tokens for Facets
  // --------------------------------------------------------

  // Title
  --fs-facets-title-height: var(--product-listing-row-height);
  --fs-facets-title-margin-bottom: var(--fs-spacing-0);

  // Accordion
  // Accordion Item
  // Accordion Item Button
  // Item
  // Item checkbox
  // Item label
  // Item badge

  [data-fs-facets-title] {
    display: flex;
    align-items: center;
    height: var(--fs-facets-title-height);
    margin-bottom: var(--fs-facets-title-margin-bottom);

    @include media("<notebook") {
      display: none;
    }
  }

  [data-store-accordion] {
    [data-store-list] {
      padding-bottom: var(--fs-spacing-3);

      li:not(:last-child) {
        margin-bottom: var(--fs-spacing-3);
      }
    }

    @include media(">=notebook") {
      border: 1px solid var(--fs-border-color-light);
      border-radius: var(--fs-border-radius);
    }
  }

  [data-accordion-item] [data-store-button] {
    font-size: var(--fs-text-size-3);
    font-weight: var(--fs-text-weight-regular);
    line-height: 1.5;

    @include media(">=notebook") {
      font-size: var(--fs-text-size-2);
      line-height: 1.25;
    }

    [data-store-icon] [data-icon] {
      display: none;
    }

    [data-store-icon] [data-icon="expanded"] {
      display: initial;
    }

    [data-store-icon] [data-icon="collapsed"] {
      display: initial;
    }
  }

  [data-fs-facet-item] {
    display: flex;
    align-items: center;
  }

  [data-fs-facet-item-checkbox] {
    flex-shrink: 0;
    width: rem(20px);
    height: rem(20px);
  }

  [data-fs-facet-item-label] {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: var(--fs-spacing-1);
  }

  [data-fs-facet-item-badge] {
    margin-left: var(--fs-spacing-1);
  }
}
