@import "src/styles/scaffold";

.fs-modal {
  // --------------------------------------------------------
  // Design Tokens for Modal
  // --------------------------------------------------------

  // Default properties
  --fs-modal-position-top                          : 30vh;
  --fs-modal-position-right                        : var(--fs-spacing-4);
  --fs-modal-position-left                         : var(--fs-spacing-4);
  --fs-modal-max-width                             : calc(var(--fs-grid-breakpoint-desktop) / 3);
  --fs-modal-min-height                            : 30px;
  --fs-modal-margin                                : auto;

  // Tablet properties
  --fs-modal-width-tablet                          : calc(100vw / 3);
  --fs-modal-min-width-tablet                      : calc(var(--fs-grid-breakpoint-desktop) / 3);

  // Transition properties
  --fs-modal-transition-state-in-timing            : 0.2s;
  --fs-modal-transition-state-in-property          : transform;
  --fs-modal-transition-state-in-function          : ease-in;
  --fs-modal-transition-state-out-timing           : 0.2s;
  --fs-modal-transition-state-out-property         : transform;
  --fs-modal-transition-state-out-function         : ease-in;

  position: fixed;
  top: var(--fs-modal-position-top);
  right: var(--fs-modal-position-right);
  left: var(--fs-modal-position-left);
  max-width: var(--fs-modal-max-width);
  min-height: var(--fs-modal-min-height);
  margin: var(--fs-modal-margin);

  @include media(">=tablet") {
    width: var(--fs-modal-width-tablet);
    min-width: var(--fs-modal-min-width-tablet);
  }

  &[data-fs-modal-state="in"] {
    transition: var(--fs-modal-transition-state-in-property) var(--fs-modal-transition-state-in-timing) var(--fs-modal-transition-state-in-function);
    transform: translate3d(0, 0, 0);
  }

  &[data-fs-modal-state="out"] {
    transition: var(--fs-modal-transition-state-in-property) var(--fs-modal-transition-state-in-timing) var(--fs-modal-transition-state-in-function);
    transform: translate3d(0, 50%, 0);
  }
}
