@import "src/styles/scaffold";

.fs-regionalization-modal-content {
  [data-regionalization-modal-header] {
    padding: var(--fs-spacing-4) var(--fs-spacing-7) var(--fs-spacing-4) var(--fs-spacing-4);

    [data-regionalization-modal-title] {
      margin-bottom: rem(10px);
      font-size: var(--fs-text-size-3);
      font-weight: var(--fs-text-weight-bold);
      line-height: 1.2;
    }

    [data-regionalization-modal-description] {
      font-size: var(--fs-text-size-2);
      line-height: 1.5;
      color: var(--fs-color-text-light);
    }

    [data-fs-regionalization-modal-button] {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  [data-fs-regionalization-modal-body] {
    padding: var(--fs-spacing-1) var(--fs-spacing-4) var(--fs-spacing-5);

    [data-regionalization-modal-input] {
      margin-bottom: var(--fs-spacing-6);
    }

    [data-store-link] {
      display: flex;
      flex-direction: row;
      align-content: flex-start;
      align-items: center;
      justify-content: flex-start;
      padding: 0;
      color: var(--fs-color-link);

      [data-regionalization-modal-link] {
        margin-right: var(--fs-spacing-0);
      }
    }
  }
}
