@import "src/styles/scaffold";

.fs-banner-newsletter {
  margin-bottom: var(--fs-grid-padding);

  > section {
    margin-top: 0;
  }

  @include media(">=notebook") {
    display: flex;

    > section {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
