@import "src/styles/scaffold";

.fs-navlinks {
  // --------------------------------------------------------
  // Design Tokens for Navlinks
  // --------------------------------------------------------

  --fs-navlinks-notebook-padding-top             : var(--fs-spacing-1);

  --fs-navlinks-mobile-border-top-width          : var(--fs-border-width);
  --fs-navlinks-mobile-border-top-color          : var(--fs-color-neutral-2);

  --fs-navlinks-mobile-border-bottom-width       : var(--fs-border-width);
  --fs-navlinks-mobile-border-bottom-color       : var(--fs-color-neutral-2);

  // Link
  --fs-navlinks-link-mobile-width                : 100%;

  --fs-navlinks-link-notebook-width              : auto;
  --fs-navlinks-link-notebook-padding            : 0 var(--fs-spacing-0);

  // List
  --fs-navlinks-list-notebook-padding-left       : var(--fs-spacing-3);
  --fs-navlinks-list-notebook-margin-left        : var(--fs-spacing-2);
  --fs-navlinks-list-notebook-border-left-width  : var(--fs-border-width);
  --fs-navlinks-list-notebook-border-left-color  : var(--fs-border-color-light);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  @include media(">=notebook") {
    display: flex;
    align-items: center;
  }

  [data-fs-navlinks-list-item] {
    display: flex;
    align-items: center;
  }

  [data-fs-regionalization-button] {
    margin-left: calc(-1 * var(--fs-spacing-1));

    // TODO: remove this after navbar 2.0 is implemented
    &[data-fs-button-variant="tertiary"] {
      color: var(--fs-color-text-display);
    }

    @include media("<notebook") {
      display: none;
    }
  }

  [data-fs-navlinks-link] {
    display: block;
    width: var(--fs-navlinks-link-mobile-width);
  }

  @include media(">=notebook") {
    padding-top: var(--fs-navlinks-notebook-padding-top);

    [data-fs-navlinks-list] {
      display: flex;
      column-gap: var(--fs-spacing-3);
      padding-left: var(--fs-navlinks-list-notebook-padding-left);
      margin-left: var(--fs-navlinks-list-notebook-margin-left);
      border-left: var(--fs-navlinks-list-notebook-border-left-width) solid var(--fs-navlinks-list-notebook-border-left-color);
    }

    [data-fs-navlinks-link] {
      width: var(--fs-navlinks-link-notebook-width);
      padding: var(--fs-navlinks-link-notebook-padding);
    }
  }

  @include media("<notebook") {
    border-top: var(--fs-navlinks-mobile-border-top-width) solid var(--fs-navlinks-mobile-border-top-color);
    border-bottom: var(--fs-navlinks-mobile-border-bottom-width) solid var(--fs-navlinks-mobile-border-bottom-color);
  }
}
