@import "src/styles/scaffold";

.fs-newsletter {
  // --------------------------------------------------------
  // Design Tokens for Newsletter
  // --------------------------------------------------------

  // Default properties
  --fs-newsletter-bkg                               : var(--fs-color-primary-bkg);
  --fs-newsletter-text-color                        : var(--fs-color-text-inverse);

  // Title
  --fs-newsletter-title-size                        : var(--fs-text-size-title-section);
  --fs-newsletter-title-weight                      : var(--fs-text-weight-bold);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: var(--fs-spacing-4) var(--fs-spacing-4) var(--fs-spacing-5);
  color: var(--fs-newsletter-text-color);
  background-color: var(--fs-newsletter-bkg);

  [data-fs-newsletter-header] {
    display: grid;
    row-gap: var(--fs-spacing-2);
  }

  [data-fs-newsletter-header] h3 {
    display: flex;
    column-gap: var(--fs-spacing-2);
    align-items: center;
    font-size: var(--fs-newsletter-title-size);
    font-weight: var(--fs-newsletter-title-weight);
    color: var(--fs-newsletter-text-color);
  }

  [data-fs-newsletter-controls] {
    display: grid;
    row-gap: var(--fs-spacing-3);
    margin-top: var(--fs-spacing-4);

    [data-fs-button-inverse] {
      margin-top: var(--fs-spacing-3);
    }
  }

  // --------------------------------------------------------
  // Variants Styles
  // --------------------------------------------------------

  &[data-fs-newsletter="card"] {
    border-radius: var(--fs-border-radius);
  }
}
