@import "src/styles/scaffold";

.fs-footer {
  // --------------------------------------------------------
  // Design Tokens for Footer
  // --------------------------------------------------------

  // Default properties
  --fs-footer-min-height-mobile           : rem(860px);
  --fs-footer-min-height-notebook         : rem(546px);
  --fs-footer-spacing-vertical-mobile     : var(--fs-spacing-4);
  --fs-footer-spacing-horizontal-notebook : var(--fs-grid-gap-3);

  --fs-footer-bkg-color                   : var(--fs-color-neutral-bkg);

  // Divisor
  --fs-footer-divisor-border-width        : var(--fs-border-width);
  --fs-footer-divisor-border-color        : var(--fs-border-color-light);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  padding-top: 0;
  background-color: var(--fs-footer-bkg-color);
  content-visibility: auto;
  contain-intrinsic-size: var(--fs-footer-min-height-mobile);

  @include media(">=notebook") {
    contain-intrinsic-size: var(--fs-footer-min-height-notebook);
  }

  [data-fs-footer-note],
  [data-fs-footer-section] {
    position: relative;
    display: flex;

    @include media("<notebook") {
      flex-direction: column;
    }

    @include media(">=notebook") {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: var(--fs-footer-spacing-horizontal-notebook);
    }

    &::before {
      width: 100%;
      content: "";
      border-top: var(--fs-footer-divisor-border-width) solid var(--fs-footer-divisor-border-color);

      @include media(">=notebook") {
        grid-column: span 12;
      }
    }
  }

  [data-fs-footer-section] {
    @include media(">=notebook") {
      row-gap: var(--fs-spacing-7);
      padding-bottom: var(--fs-spacing-7);
    }
  }

  [data-fs-footer-note] {
    position: relative;

    @include media("<notebook") {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;

      &::before {
        padding-bottom: var(--fs-footer-spacing-vertical-mobile);
      }
    }

    @include media(">=notebook") {
      row-gap: var(--fs-grid-gap-4);
      padding-top: 0;
    }

    [data-store-payment-methods] {
      margin: var(--fs-footer-spacing-vertical-mobile) auto;

      @include media(">=notebook") {
        grid-column: 10 / span 3;
        order: 3;
        margin: 0;
      }

      @include media(">=desktop") {
        grid-column: 11 / span 2;
      }
    }

    [data-store-icon] {
      @include media(">=notebook") {
        grid-column: span 2;
      }
    }

    [data-payment-methods-flags] {
      p {
        margin-bottom: var(--fs-spacing-3);
        text-align: center;

        @include media(">=notebook") {
          text-align: left;
        }
      }

      svg {
        border: var(--fs-border-width) solid var(--fs-color-neutral-3);
        border-radius: var(--fs-border-radius-small);
      }

      [data-store-list] {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, max-content));
        row-gap: var(--fs-spacing-1);
        justify-content: space-between;

        @include media("<notebook") {
          column-gap: var(--fs-grid-gap-2);
        }
      }
    }
  }

  [data-fs-footer-social] {
    display: flex;
    flex-direction: column;

    @include media("<notebook") {
      padding: var(--fs-footer-spacing-vertical-mobile) 0 var(--fs-spacing-3);
    }

    @include media(">=notebook") {
      grid-column: 10 / span 3;
    }

    @include media(">=desktop") {
      grid-column: 11 / span 2;
    }

    p {
      text-align: center;

      @include media(">=notebook") {
        text-align: left;
      }
    }

    [data-store-list] {
      display: flex;
      justify-content: center;
      margin-top: var(--fs-spacing-1);

      @include media(">=notebook") {
        justify-content: space-between;
        margin-top: var(--fs-spacing-0);
      }

      [data-fs-link] {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: var(--fs-control-tap-size);
        min-height: var(--fs-control-tap-size);
        padding: var(--fs-spacing-1);
      }
    }
  }

  [data-fs-footer-copyright] {
    p + p {
      margin: var(--fs-spacing-2) auto;
    }

    address {
      font-style: normal;
    }

    @include media(">=notebook") {
      grid-column: span 6;
    }
  }

  &[data-fs-footer-links] {
    [data-store-list] {
      margin-bottom: var(--fs-spacing-2);
    }

    [data-fs-link] {
      display: inline-block;
      padding-left: 0;
    }

    @include media(">=notebook") {
      grid-column: span 9;
    }

    @include media(">=desktop") {
      grid-column: span 8;
    }
  }

  [data-fs-footer-links-columns] {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--fs-footer-spacing-horizontal-notebook);

    .text__title-mini {
      margin-bottom: var(--fs-spacing-1);
    }
  }
}
